<?xml version="1.0" encoding="utf-8"?>
<GameSettings>
  <Volume>
    <Master>-40</Master>
    <Music>0</Music>
    <Effects>-6</Effects>
  </Volume>
  <KeyBinds>
    <Action1>Space</Action1>
    <Action2>C</Action2>
    <Start>S</Start>
    <Stop>S</Stop>
    <Tap>T</Tap>
  <Difficulty>
    <NoteOffset>0.1</NoteOffset>
    <Randomness>0.4</Randomness>
	<HealthLossOnFail>20</HealthLossOnFail>
    <HealthRegainOnHit>5</HealthRegainOnHit>
  </Difficulty>
</GameSettings>