<?xml version="1.0" encoding="utf-8"?>
<GameSettings>
  <Volume>
    <Master>-40</Master>
    <Music>0</Music>
    <Effects>-6</Effects>
  </Volume>
  <KeyBinds>
    <Action1>Space</Action1>
    <Action2>C</Action2>
    <Start>S</Start>
    <Stop>P</Stop>
    <Tap>T</Tap>
  </KeyBinds>
</GameSettings>